@{
    ViewData["Title"] = "About";

    //Define variables for name and student number
    var name = "Steven Coverdale";
    var studentNumber = "100729832";
    var courseCode = "COMP2139";
}


<div>
    <h1>Welcome to Assignment 1</h1>
    <p>Name: @name</p>
    <p>Student Number: @studentNumber</p>
    <p>Course Code: @courseCode</p>
</div>